body {
  margin: 0;
  font-family:
    "helvetica-lt-pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    "Helvetica Neue", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main,
#root {
  flex: 1;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
